body {
  font-family: 'Source Sans Pro', Lato, Varela Round, Muli, Oxygen;
  font-size: 2.2em;
}

.content {
  display: none;
}

.head-banner, .centered {
  text-align: center;
}

p.small, ul.small li, .small {
  font-size: 14px;
}

.medium {
  font-size: 16px;
}

a.small img {
  width: 30px;
}

a.medium img{
  width: 60px;
}

img.icon, img.icon-display{
  width: 40px;
  opacity: 0.65;
  margin: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

img.icon-display{
  width: 24px;
  opacity: 1;
  margin: 2px;
}

img.main-icon {
  width: 50px;
  margin: 0px;
  margin-bottom: 5px;
}

img.icon:hover {
  opacity: 1;
}
.align-right {
  text-align: right;
}

.shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}
.active {
  color: orange;
}

img.project-img {
  width: 100%;
  margin-bottom: 10px;
}
.project-item {
  margin-bottom: 25px;
}

.box {
  width:100%;
  height: auto;
  background:#FFF;
  margin:40px auto;
  padding: 30px 40px;
  font-family: PT Serif;
  font-size: 14px;
}

p.indent {
  text-indent: 25px;
  margin-bottom: 20px;
}

/*==================================================
 * Effect 7
 * ===============================================*/
.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.circular {
/*  position: absolute;
  top: 10px;
  right: 20px;*/
  width: 260px;
  height: 260px;
  border-radius: 130px;
  -webkit-border-radius: 130px;
  -moz-border-radius: 130px;
  background: url(../images/marvin_solo.jpg) -5px -30px no-repeat;
  background-size: 270px;
  margin-bottom: 10px;

/*  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
}

